/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *   Flash Messages
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.announcements{
  font-family: monospace;
  position: absolute;
  top: 5.8rem;
  left: 0;
  z-index: 300;
  width: 100%;
  color: $black;
  background-color: rgba(#F3E759,0.85);
  .fa{
    color: $red;
  }
  p{
    margin: 0;
    padding:1em 0;
  }
}
.announcements.override {
  position: relative;
  top: 0;
}